html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto; /* занимает всё доступное пространство */
}

footer {
    flex-shrink: 0; /* не сжимается */
}
